*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background: #f2f2f2;
  font-family: 'poppins';
  /* margin: 0; */
}

ul,
li{
  list-style: none;
  padding: 0;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
  margin: 20px;
}

header{
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

nav{
  padding: 30px;
  border-right: 1px solid #ddd;
}

nav li{
  text-decoration: underline;
  padding: 12px;
}

article{
  padding: 30px;
}

article h2{
  font-size: 2.3em;
  max-width: 800px;
  margin-bottom: 30px;
}

article img{
  width: 100%;
  box-shadow: 2px 2px 40px rgba(251, 251, 251, 0.583), 2px 2px 30px rgba(0, 0, 0, 0.315);
  border-radius: 20px;
  transition: all 1s ease-in;
  cursor: pointer;
}

article img:hover{
  transform: translateY(-1%);
  border-radius: none;
}

article p{
  margin-top: 30px;
  line-height: 2;
  color: #777;
  margin-left: 10px;
}

aside{
  padding: 30px;
  border-left: 1px solid #ddd;
}
aside ul li{
  padding: 12px;
}
footer{
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 1.5em;
  font-weight: 500;
  color: #777;
}

/* responsive */

@media screen and (max-width: 1200px){
  nav{
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  nav li{
    display: inline-block;
    margin-right: 10px;
  }
  article{
    grid-column: span 2;
  }
  aside{
    padding: 16px;
  }
}

@media screen and (max-width: 980px){
  nav, article, aside{
    grid-column: span 3;
  }

  article h2{
    margin-bottom: 20px;
  }

  aside{
    border-left: 0;
    border-top: 1px solid #ddd;
    margin-left: 15px;
  }
}
